<h1>New Client</h1>
<%= form_with model: @client do |form|%>
    <div>
        <%= form.label :name , "Name" %><br>
        <%=form.text_field :name %>

    </div>
    <div>
        <%= form.label :phone, "Phone" %><br>
        <%= form.text_field :phone %>

    </div>


    <div>
        <%= form.fields_for @address do |a| %>
        <div>
            <%= a.label :city, "City"%>
            <%= a.text_field :city %>
        </div>
        <div>
            <%= a.label :pincode, "Pincode" %>
            <%= a.text_field :pincode %>
        </div>
        <% end%>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>